.container {
  margin: 0 auto;
  padding: 2rem;
  width: 100%;
  max-width: 800px;
  border: 1px solid #333;
  border-radius: 0.5rem;
  background-color: #181818;
}

.bookmark {
  padding: 0.5rem;

  a {
    color: #fff;
    font-family: 'JetBrains Mono';
    text-decoration: none;
  }

  &:hover {
    cursor: pointer;
    background-color: #222;
  }
}
