.container {
  height: 100%;
  padding: 150px 200px;
  background: linear-gradient(135deg, #05f, #09f);
}

.heading {
  color: #fff;
  font-size: 80px;
  line-height: 1;
}

.description {
  padding-top: 80px;
  color: #fff;
  font-size: 24px;
}

$bookmark-size: 120px;

.bookmark {
  width: $bookmark-size;
  height: $bookmark-size;
  margin-left: -13px;
  stroke: #fff;
  stroke-width: 2;
  stroke-linejoin: round;
  stroke-linecap: round;
}
