$icon-wrapper-size: 5rem;

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: $icon-wrapper-size;
  height: $icon-wrapper-size;
  border-radius: 50%;
  background: linear-gradient(135deg, rgb(255, 0, 136), rgb(221, 0, 238));
}

.icon {
  width: 50%;
  stroke: #fff;
  stroke-width: 2;
  stroke-linejoin: round;
  stroke-linecap: round;
}
