.container {
  margin: 0 auto;
  padding: 2rem 0;
  width: 100%;
  max-width: 800px;
  border: 1px solid #333;
  background-color: #181818;
}

.bookmark {
  display: flex;
  padding: 0.5rem 2rem;

  a {
    color: #fff;
    font-family: 'JetBrains Mono';
    text-decoration: none;
  }

  &:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.02);

    .tools {
      display: flex;
    }
  }
}

.tools {
  display: none;
  align-items: center;
  justify-content: space-between;
  width: 50px;
  margin-left: auto;
  color: #fff;
}
