.tabs {
  display: flex;
  padding-bottom: 50px;
}

.tabWrapper {
  flex: 1;
  color: #fff;
  font-family: 'JetBrains Mono';
  cursor: pointer;
}

.tabBorder {
  height: 4px;
  background: #09f;
}

.tab {
  padding: 1rem;
  text-align: center;
}
