.container {
  padding-bottom: 16px;
}

.input {
  display: block;
  width: 100%;
  border: 0;
  outline: 0;
  background-color: transparent;

  padding: 0 20px;
  height: 48px;
  color: #fff;
  font-size: 16px;
  line-height: 48px;

  border-bottom: 2px solid #333;
  background-color: rgba(255, 255, 255, 0.02);

  &::placeholder {
    color: #777;
  }

  &:active,
  &:focus {
    border-bottom-color: #09f;
  }
}

.input,
.error {
  font-family: 'JetBrains Mono';
}

.invalid,
.invalid:focus {
  border-bottom-color: #f08;
}

.error {
  height: 32px;
  color: #f08;
  font-size: 14px;
  line-height: 32px;
}
