.input {
  display: block;
  width: 100%;
  border: 0;
  outline: 0;
  background-color: transparent;

  color: #aaa;
  border-bottom: 2px solid #333;

  &:active,
  &:focus {
    color: #fff;
    border-bottom-color: #09f;
  }
}

.input,
.label,
.error {
  height: 3rem;
  font-size: 1rem;
  line-height: 3rem;
  font-family: 'JetBrains Mono';
}

.invalid,
.invalid:focus {
  border-bottom-color: #f08;
}

.error {
  color: #f08;
}
