.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 16px;
}

.wrapper {
  width: 400px;
  margin: 0 auto;
}

.icon {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  margin-bottom: 30px;
  border-radius: 50%;
  background: linear-gradient(135deg, rgb(255, 0, 136), rgb(221, 0, 238));
}
